<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="48c7dd54-1ef2-4db7-a75e-7e02c5eefd40" Publisher="CN=wanglei" Version="1.0.4.0" />
  <mp:PhoneIdentity PhoneProductId="48c7dd54-1ef2-4db7-a75e-7e02c5eefd40" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Windows10</DisplayName>
    <PublisherDisplayName>wanglei</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Windows10.App">
      <uap:VisualElements DisplayName="Windows10" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Windows10" BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\LockScreenLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" ShortName="short">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTaskLib.BackgroundTaskTransfer">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTaskLib.BackgroundTaskDemo">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTaskLib.BackgroundTaskFore">
          <BackgroundTasks>
            <Task Type="general" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTaskLib.BackgroundTaskTime">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTaskLib.BackgroundTaskToast">
          <BackgroundTasks>
            <Task Type="general" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="webabcd" ReturnResults="optional">
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileSavePicker">
          <uap:FileSavePicker>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
          </uap:FileSavePicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".webabcd">
            <uap:DisplayName>打开 .webabcd 文件</uap:DisplayName>
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
            <uap:InfoTip>用 win10 demo 打开 .webabcd 文件</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.webabcd</uap:FileType>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.rar</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="userAccountInformation" />
    <uap:Capability Name="appointments" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="documentsLibrary" />
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>